body {
    background: linear-gradient(to bottom, #F5648D, #ffff); 
    font-family: 'Montserrat', sans-serif; 
    margin: 0; 
    padding: 0;
    min-height: 100vh; 
    display: flex;
    flex-direction: column;
  }
  .navbar {
    background-color: #104A7C;
  }
  
  
  #navbarbg {
    background-color: #104A7C;
    border: 1px;
    border-color: #162f45;
    border-style: solid;
  }
  
  #abovenav {
    background-color: #ffbee8;
  }
  
  .navbar a {
    color: #7fcaff;
    font-family: "peckham-press", sans-serif;
font-weight: 700;
font-style: normal;
  }
  #abovenav {
    margin: 0;
    padding: 0;
  }
  
  #abovenav img {
    width: 100%;
    height: auto;
    max-height: 150px; /* adjust this to control thinness */
    object-fit: cover;
    display: block;
  }

  h1, p {
    font-family: "peckham-press", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .navbar a {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .navbar a:hover {
    transform: rotate(5deg) scale(1.05);
    box-shadow: 0 0 10px #7fcaff, 0 0 20px #f72781;
  }

  